<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "headtags.html" . }}
    <title>Post</title>
</head>

<body>
    {{ template "navbar.html" . }}

    {{ template "mainopening.html" . }}

    <span style="display: none;" id="id">{{ .id }}</span>

    <div id="postDetails"></div>

    <div class="card" id="form" style="display: none;">
        <div class="card-body">

            <h4 class="card-title">Share comment</h2>
                <form id="postform">

                    <div class="form-outline mb-4">
                        <input type="text" id="text" name="text" class="form-control form-control-lg" />
                        <span id="texterror" class="error"></span>
                    </div>

                    <button type="submit" onclick="postSbmt(event, '/api/post/{{ .id }}')" class="btn btn-primary">
                        Share
                    </button>

                </form>
        </div>
    </div>

    <div id="commentshead"></div>

    <div id="comments"></div>

    {{ template "mainclosure.html" . }}

    <script src="/js/modules/post.js"></script>
    <script src="/js/share.js"></script>
    <script src="/js/post.js"></script>
</body>

</html>