<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/image/logo.png" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/form.css">
    <title>Sign up</title>
</head>

<body>
    <section class="vh-100 bg-image"
        style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">

                                <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                                <form id="form">

                                    <h1 class="error">salsamS</h1>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="name">Your Name</label>
                                        <input type="text" id="name" name="name" class="form-control form-control-lg" />

                                        <span id="nameerror" class="error"></span>
                                    </div>


                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="surname">Your Surname</label>
                                        <input type="text" id="surname" name="surname"
                                            class="form-control form-control-lg" />

                                        <span id="surnameerror" class="error"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="username">Your Username</label>
                                        <input type="text" id="username" name="username"
                                            class="form-control form-control-lg" />

                                        <span id="usernameerror" class="error"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="password">Password</label>
                                        <input type="password" id="password" name="password"
                                            class="form-control form-control-lg" />

                                        <span id="passworderror" class="error"></span>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                            Sign up
                                        </button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">Have already an account?
                                        <a href="/login" class="fw-bold text-body">
                                            <u>Login here</u>
                                        </a>
                                    </p>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/js/signup.js"></script>
</body>

</html>